{% extends 'home_base.html' %} {% block body %}
<div class="about-heading">
	<div class="container">
		<h2>Detail Of Animal</h2>
	</div>
</div>
</div>
<!-- //banner -->
<div class="news1">
	<div class="container">
		<div class="w3-agileits-news-grids">
			<div class="col-md-6 news-left">
	<!-- 			<div class="w3-agile-news-date">
					<div class="agile-news-icon">
						<i class="fa fa-calendar" aria-hidden="true"></i>
						<p>Date</p>
					</div>
				</div> -->
				<div class="w3-agile-news-img">
					<a href="">
						<img src="static/images/{{animal_detail[0].image}}" width="640px" height="300px" alt="" />
					</a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-6 news-right">
				<div class="news-right-grid">
					<a href="">{{animal_detail[0].animal_name}}</a>
					<!-- <h5> Result</h5> -->
					<p>{{animal_detail[0].animal_information}}</p>
				</div>
			</div>
			<div class="clearfix"> </div>
		</br>
		</div>
	</div>
</div>
{% endblock %}