{% extends 'home_base.html' %} 


{% block head %}

<style>
body {font-family: Arial, Helvetica, sans-serif;}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
</style>






<script>
// Get the modal
var modal = document.getElementById('myModal111');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById('myImg');
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
    modal.style.display = "none";
}
</script>


{% endblock %}





{% block body %}
<div class="about-heading">
	<div class="container">
		<h2>Our Gallery</h2>
	</div>
</div>
</div>
<!-- //banner -->
<!-- gallery -->
	
<div class="gallery">
	<div class="container">
		<div class="gallery-grids">
		
		{% for item in animal_detail %}
		
	
			<div class="col-md-4 gallery-grid">
				<div class="grid">
					<figure class="effect-apollo">	
				<a href="{{url_for('detail_of_animal',i_id=item['animal_id'] )}}">					
						<img src="static/images/{{item['image']}}" width="640px" height="300px" alt="" />
						<figcaption>
							<p>{{item['animal_name']}}</p>
						</figcaption>
						</a>
					</figure>
				</div>
			</div>
			
			{% endfor %}
	
			
			
			
	<!-- 		<div class="col-md-4 gallery-grid">
				<div class="grid">
					<figure class="effect-apollo">
					<a href="{{url_for('detail_of_animal',a_name='cow',image='cow1')}}">
						<img src="static/images/cow1.jpg" alt="" />
						<figcaption>
							<p>Cow</p>
						</figcaption>
							</a>
					</figure>
				</div>
			</div>
			<div class="col-md-4 gallery-grid">
				<div class="grid">
					<figure class="effect-apollo">
					<a href="{{url_for('detail_of_animal',a_name='dog',image='dog_g')}}">
						<img src="static/images/dog_g.jpg" alt="" />
						<figcaption>
							<p>dog</p>
						</figcaption>
						</a>
					</figure>
				</div>
			</div>
			<div class="col-md-4 gallery-grid">
				<div class="grid">
					<figure class="effect-apollo">
					<a href="{{url_for('detail_of_animal',a_name='horse',image='horse1')}}">
						<img src="static/images/horse1.jpg" alt="" />
						<figcaption>
							<p>horse</p>
						</figcaption>

					</figure>
				</div>
			</div>
			<div class="col-md-4 gallery-grid">
				<div class="grid">
					<figure class="effect-apollo">
					<a href="{{url_for('detail_of_animal',a_name='elephant',image='elephant1')}}">
						<img src="static/images/elephant1.jpg" alt="" />
						<figcaption>
							<p>elephant</p>
						</figcaption>

					</figure>
				</div>
			</div>
			<div class="col-md-4 gallery-grid">
				<div class="grid">
					<figure class="effect-apollo">
					<a href="{{url_for('detail_of_animal',a_name='giraffe',image='giraffe1')}}">
						<img src="static/images/giraffe1.jpg" alt="" />
						<figcaption>
							<p>giraffe</p>
						</figcaption>

					</figure>
				</div>
			</div>
			<div class="col-md-4 gallery-grid">
				<div class="grid">
					<figure class="effect-apollo">
					<a href="{{url_for('detail_of_animal',a_name='cat',image='g1')}}">
						<img src="static/images/g1.jpg" alt="" />
						<figcaption>
							<p>Cat</p>
						</figcaption>

					</figure>
				</div>
			</div>
			<div class="col-md-4 gallery-grid">
				<div class="grid">
					<figure class="effect-apollo">
					<a href="{{url_for('detail_of_animal',a_name='bear',image='bear_f')}}">
						<img src="static/images/bear_f.jpg" alt="" />
						<figcaption>
							<p>Bear</p>
						</figcaption>

					</figure>
				</div>
			</div>
			<div class="col-md-4 gallery-grid">
				<div class="grid">
					<figure class="effect-apollo">
					<a href="{{url_for('detail_of_animal',a_name='zebra',image='zebra1')}}">
						<img src="static/images/zebra1.jpg" alt="" />
						<figcaption>
							<p>zebra</p>
						</figcaption>

					</figure>
				</div>
			</div> -->
			
			
			
			<div class="clearfix"> </div>
			<script src="js/lightbox-plus-jquery.min.js"> </script>
		</div>
	</div>
</div>









		
<!-- //gallery -->
{% endblock %}